body {
  font-family: "Oswald", sans-serif;
}

/*****************************HEADER***********************************************/

header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#header-logo {
  color: rgb(189, 194, 196);
}
header a {
  color: white;
  margin-left: 24px;
}
header a:hover {
  color: white;
}

header a:visited {
  color: white;
}
#hamb-menu {
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 10px;
}

/****************************HERO SECTION***************************************/
#hero-section {
  background-image: url("../imgs/bar-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-section:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(73, 56, 56, 0.671);
  height: 100vh;
}
#hero-logo {
  width: 400px;
}

#arrow-img {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
}
#arrow-down {
  position: absolute;
  bottom: 64px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 64px;
}

/*******************************************INTRO SECTION **********************************/

#intro-section {
  background: #eae7de;
}

/******************************************ABOUT SECTION*****************************************/
#about-bg-1 {
  background-image: url(../imgs/bike-400x340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 480px;
}
#about-bg-2 {
  background-image: url(../imgs/cow-640x340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 640px;
}

/*************************************MENU SECTION ******************************************************/
#menu-section {
  background-color: #eae7de;
}

/*************************************CONTACT SECTION  ******************************************************/
#contact-info-bg-1 {
  background: linear-gradient(to right, #36313782, #36313782),
    url("../imgs/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#contact-info-bg-2 {
  background-color: #312423a8;
}

/*************************************MAP SECTION  ******************************************************/

/*************************************FOOTER SECTION  ******************************************************/
footer {
  background-color: #312423;
}
footer a img {
  width: 32px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
  #social-icons {
    text-align: center !important;
    margin-top: 8px;
  }
}
